@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1f1f1f;
  font-family: Workbench;
  color: #fffff0;
  font-size: clamp(20px, 3vw, 30px);
}

.home{

display: grid;
place-items: center;
min-height: 100vh;



}

.main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
  border: 1px solid #fff;
  background: #3f3f3f;
  padding: 15px;
  border-radius: 10px;
}

.dimensions{
  display: flex;
  flex-direction: column;
}

.start{
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  font-family: Workbench;
  background: #000;
  color: #fff;
  font-size: clamp(20px, 3vw, 30px);
  border-radius: 10px;
  outline: 1px solid #fff;
}

