@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('/src/assets/bg.jpg');
  background-size: cover;
  font-family: Workbench;
  color: #fffff0;
  font-size: clamp(20px, 3vw, 30px);
}

.home{

display: grid;
place-items: center;
min-height: 100vh;



}

.main{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50vw;
  border: 1px solid #fff;
  background: rgba(0, 140, 255, 0.306);
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  filter: drop-shadow(#000 5px 5px 5px);
  box-shadow:   rgba(0, 187, 255, 0.42) 2px 2px 5px, 
                rgba(0, 187, 255, 0.42) -2px -2px 5px,
                rgba(0, 187, 255, 0.42) 2px -2px 5px,
                rgba(0, 187, 255, 0.42) -2px 2px 5px;
  

                
}

.dimensions{
  display: flex;
  flex-direction: column;
}

.start{
  border: none;
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  font-family: Workbench;
  background: #ffffff3c;
  color: #fff;
  font-size: clamp(20px, 3vw, 30px);
  border-radius: 10px;
  outline: 1px solid #fff;
  backdrop-filter: blur(2px)
}

.start:active{
  border: none;
}
